
body{
  font-size: 25px;
  transition: 2s;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
#add,
#card
{
  width: 100%;
  height: 45pt;
  border: none;
  border-radius: 15px;
  border: #42445A6B 2px solid;
  cursor: text;
  color: #A6A8B7;
  font-weight: 25px;
  font-size: 15pt;
  font-family: Oswald;
}

h1{
  background-color: #010103F5;
  color: white;
  text-align: center;
  font-family: Anton;
  word-spacing: 25px;
  border-radius: 15px;
  box-shadow: 8px 8px 16px 10px rgba(0,0,0,0.2);
}

div{
  background-color: #EEEEF2;
  padding: 32px;
  margin: 22px;
  font-family: Oswald;
  border-radius: 25px;
  border: #01010345 0px solid;
  box-shadow: 0px 8px 8px #696969;
}

input[type="submit"]{
  text-align: center;
  width: 100%;
  height: 65px;
  font-size: 25pt;
  font-weight: 0px;
  background-color: #010103ED;
  border: none;
  color: ghostwhite;
  border-radius: 25px;
  transition: 2s;
}

input[type="submit"] :hover{
  transition: 2s;
}

@media only screen and (max-width: 768px) {
 
  body{
    font-size: 15px;
  }
 
h1{
  height: 75px;
  padding: 20px;
  font-size: 50px;
  box-shadow: 8px 8px 16px 10px rgba(0,0,0,0.2);
}

  input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
#add,
#card
{
  width: 100%;
  height: 15pt;
  border: none;
  border-radius: 15px;
  cursor: text;
  color: #A6A8B7;
  font-weight: 25px;
  font-size: 10pt;
  font-family: Oswald;
}

div{
  background-color: #EEEEF2;
  padding: 12px;
  margin: 12px;
  font-family: Oswald;
  border-radius: 25px;
}

input[type="submit"]{
  text-align: center;
  width: 100%;
  height: 25px;
  font-size: 18px;
  font-weight: 0px;
  background-color: #010103D6;
  border: none;
  color: ghostwhite;
  border-radius: 25px;
  transition: 2s;
 }
}
